<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smg.mapper.ApiClassifyMapper">

    <resultMap id="BaseResultMap" type="com.smg.module.entity.ApiClassify">
            <id property="classifyid" column="classifyid" jdbcType="INTEGER"/>
            <result property="classifyname" column="classifyname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        classifyid,classifyname
    </sql>
</mapper>
